:root {
    --green: #09C269;
    --white: #fff;
    --black: #000;
    --hoverGreen: #039B54;
    --gray: #969696;
    --lightGreen: #E7FFF4;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

#header {
    width: 100%;
    position: fixed;
    height: auto;
    background: var(--white);
    top: 0;
    z-index: 999;
}

#headerContent {
    max-width: 1250px;
    width: 90%;
    margin: auto;
    padding: 1.4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    justify-content: space-between;
}

#logo {
    width: 10%;
    height: auto;
}

#icons {
    display: flex;
    gap: 24px;
}

.icon {
    width: 1.5rem;
}

#english {
    border: 0;
    font-size: 0.9rem;
}

img {
    width: 100%;
}

.mainButton {
    background: var(--green);
    border-radius: 5px;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
}

.mainButton:hover {
    background: var(--hoverGreen);
    transition: 0.3s;
}

#icons {
    display: flex;
}

#hero {
    max-width: 1500px;
    width: 90%;
    background-color: var(--lightGreen);
    border-radius: 4rem;
    margin: auto;
    height: 570px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5.5rem auto 12rem auto;
}

#mainHero {
    max-width: 1450px;
    width: 90%;
}

.content {
    max-width: 1250px;
    width: 90%;
    margin: auto;
    display: grid;
    height: auto;
}

#heroTxt {
    display: grid;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    padding: 48px 0 0 0;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#text {
    margin: -10rem 0 0 0;
}

#animatedTxt h1 {
    margin: 0;
    font-size: 4.3rem;
    font-weight: 700;
    line-height: 5.3rem;
}

#animatedTxt span {
    position: relative;
}

#animatedTxt span::before {
    content: "thrillers.";
    color: var(--green);
    animation: words 20s infinite;
}

#animatedTxt span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid var(--hoverGreen);
    background-color: var(--lightGreen);
    right: -8px;
    animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--green);
    }
}

@keyframes words {

    0%,
    20% {
        content: "thrillers."
    }

    21%,
    40% {
        content: "mysteries."
    }

    41%,
    60% {
        content: "crimes."
    }

    61%,
    80% {
        content: "fantasies."
    }

    81%,
    100% {
        content: "horrors.";
    }

}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

#smallerTxt {
    font-size: 1.2rem;
    line-height: 1.75rem;
    margin: 1rem 0 2rem 0;
    color: var(--black);
}

#quote h2 {
    font-style: italic;
    font-size: 2.6rem;
    line-height: 3.3rem;
    color: var(--gray);
    margin: 0;
}

h2 {
    color: var(--black);
    margin: 0;
    font-size: 2.6rem;
    line-height: 3.3rem;
    margin: 0;
}

#quote {
    max-width: 55rem;
    width: 90%;
    margin: auto;
    margin-bottom: 7.2rem;
}

.books {
    display: flex;
    height: auto;
    position: relative;
    z-index: 30;
    left: 5px;
}

#personName {
    font-size: 1.5rem;
    font-style: italic;
    color: var(--green);
    margin: 16px 0;
    font-weight: 700;
}

.mainBook {
    display: grid;
    align-items: center;
    -webkit-align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    margin: 0 0 15rem 0;
}

#mainBook {
    padding: 7.5rem 0 0 0;
}

.button {
    position: relative;
    font-size: 1rem;
    text-decoration: none;
    color: var(--green);
    font-weight: 500;
}

.button:hover {
    color: var(--hoverGreen);
}

.button::after {
    content: "\2192";
    position: absolute;
    right: -1.5rem;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.button:hover:after {
    transform: translate(0.4rem, -50%);
}

.button::before {
    content: "";
    position: absolute;
    background: var(--lightGreen);
    bottom: -4px;
    height: 2px;
    width: 0;
    transition: 0.3s ease;
    background: var(--green);
}

.button:hover::before {
    color: var(--hoverGreen);
    width: 100%;
}

.bookImg:nth-child(1) {
    position: relative;
    align-items: center;
    -webkit-align-items: center;
    display: flex;
    justify-content: left;
}

.bookImg:nth-child(2) {
    position: relative;
    display: flex;
    justify-content: right;
}

.mainPic {
    position: relative;
    z-index: 3;
    width: 80%;
    align-items: center;
}

.shape {
    position: absolute;
    width: 110%;
    top: 0;
    z-index: 0;
    left: -40px;
}


h3 {
    font-size: 1.7rem;
    margin: 0;
}

.stars {
    width: 140px;
    margin: 1rem 0 0 0;
}

.author {
    font-size: 0.9rem;
    line-height: 1rem;
    color: var(--gray);
    font-weight: 700;
    font-style: italic;
    margin: 1rem 0 1rem 0;
}

.testimonials {
    margin: 0 0 1.5rem 0;
}

.testimonials p {
    font-size: 0.9rem;
    font-style: italic;
    line-height: 1.5rem;
}


.gridBooks {
    max-width: 1600px;
    width: 90%;
    background-color: var(--lightGreen);
    border-radius: 4rem;
    margin: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.gridBook {
    max-width: 1500px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    position: relative;
    top: -100px;
    gap: 4rem;
}

.book {
    position: relative;
    z-index: 20;
    width: 100%;
    align-items: center;
    display: grid;
    gap: 1rem;
}

.smallShape {
    width: 130%;
    position: absolute;
    z-index: -1;
    left: -70px;
    top: 0;
}

.info {
    padding-right: 1.6rem;
}


#footer {
    max-width: 1250px;
    width: 90%;
    margin: auto;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    justify-content: space-between;
}

#social {
    display: flex;
    gap: 1.5rem;
}


@media screen and (max-width: 1550px) {

    #hero {
        height: 540px;
    }

    h3 {
        font-size: 1.5rem;
    }

    #text {
        margin: -9rem 0 0 0;
    }

    #animatedTxt h1 {
        font-size: 4rem;
        line-height: 5rem;
    }
}

@media screen and (max-width: 1460px) {
    #hero {
        height: 490px;
    }

    #animatedTxt h1 {
        font-size: 3.8rem;
        line-height: 4.8rem;
    }
}

@media screen and (max-width: 1360px) {
    #hero {
        height: 460px;
    }

    #animatedTxt h1 {
        font-size: 3.2rem;
        line-height: 4.0rem;
    }

    #smallerTxt {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }

    #quote h2, h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    .testimonials p {
        font-size: 0.85rem;
        line-height: 1.2rem;
    }
}

@media screen and (max-width: 1200px) {
    #text {
        margin: -12rem 0 0 0;
    }

    #hero {
        height: 430px;
    }
    
    #animatedTxt h1 {
        font-size: 3rem;
        line-height: 3.8rem;
    }
    
    #hero {
        height: 380px;
    }

    h3 {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 1024px) {
    #text {
        margin: -8rem 0 0 0;
    }

    #animatedTxt h1 {
        font-size: 2.6rem;
        line-height: 3.5rem;
    }

    .gridBook {
        gap: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .info {
        padding-right: 1rem;
    }

    .smallShape {
        left: -50px;
        width: 120%;
    }

    #hero {
        margin: 5.5rem auto 7.5rem auto;
    }

    .testimonials p {
        font-size: 0.8rem;
        font-style: italic;
        line-height: 1.2rem;
    }
}

@media screen and (max-width:950px) {
    #animatedTxt h1 {
        font-size: 2.3rem;
        line-height: 3rem;
    }

    #text {
        margin: -8rem 0 0 0;
    }

    #hero {
        height: 330px;
    }

    h3 {
        font-size: 1rem;
    }

    .author {
        font-size: 0.7rem;
    }

    .testimonials p {
        font-size: 0.7rem;
        font-style: italic;
        line-height: 1.1rem;
    }
    
}

@media screen and (max-width: 850px) {
    #logo {
        width: 15%;
    }

    #hero {
        height: 800px;
        margin: 5.5rem auto 17rem auto;
    }

    #heroTxt {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    #animatedTxt h1 {
        font-size: 2.6rem;
        line-height: 3.5rem;
    }

    #text {
        margin: 3rem 0 0 0;
        text-align: center;
    }

    #hero {
        margin: 5.5rem auto 13rem auto;
    }

    .mainBook {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .mainPic {
        width: 60%;
    }

    /* .bookImg:nth-child(1),
    .bookImg:nth-child(2) {
        justify-content: center;
    } */

    .gridBook {
        grid-template-columns: 1fr 1fr;
    }
    
    .bookImg{
        order: 1;
        justify-content: center!important;
    }

    .bookTxt
    { 
        order: 2;
    }

    #animatedTxt h1 {
        font-size: 3.15rem;
        line-height: 3.7rem;
    }

    .shape {
        width: 90%;
        left: 0;
    }

    #animatedTxt h1 {
        font-size: 3.2rem;
        line-height: 3.8rem;
    }

    h3 {
        font-size: 1rem;
    }

    .info {
        padding-right: 2rem;
    }

    .author {
        font-size: 0.9rem;
    }

    .testimonials p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #footer {
        justify-content: space-between;
    }


}

@media screen and (max-width: 500px) {

    #logo {
        width: 30%;
    }

    .icon, #english {
        display: none;
    }

    #hero {
        height: 570px;
    }

    #animatedTxt h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .mainPic {
        width: 85%;
    }

    .shape {
        width: 115%;
        left: -50px;
    }

    .gridBook {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    h3 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .testimonials p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #footer {
        justify-content: space-around;
    }
    
}